body{
  background-image:
   url("http://i.imgur.com/CYKk0Q0.png");
   background-color: transparent;
 }
div{
  height: 100%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  background-color: white;
}
#center{
  margin-right: auto;
  margin-left: auto;
  position: center;
}
h1{
  text-align: center;
}

 ul.menu{
	 list-style-type:none;
   text-align: center;
 }
 li.menu{
	 text-align: center;
   display: block;
 }
li.menu:hover{
  background-color: rgb(33, 33, 33);
}
li, a {
text-decoration: none;
 color: red;
}
div{
  font-color: #FA8072;
  }
img{
  margin-right: auto;
  margin-left:auto;
}
#header{
  background-color: #90C3D4;
  border-radius: 5px;
}
#footer{
  border-radius: 5px;
}
